<PeticeniWeb.Admin.admin_index items={@products} meta={@meta} path={~p"/admin/products"}>
  <:field :let={product} label="Name"><%= product.name %></:field>
  <:field :let={product} label="Measure"><%= product.measure %></:field>
</PeticeniWeb.Admin.admin_index>
